.c-header{
    width: 100%;
    height: 150px;

    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(26,39,83,1) 100%, rgba(0,0,0,1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &__nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        margin-top: 25px;

        &__link{
            color: white;
            text-decoration: none;
            font-size: 20px;
            margin: 15px;
            font-weight: bold;
        }
    }

}
