.c-homePage{

    width: 100%;
    height: 1000px;

    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(26,39,83,1) 100%, rgba(0,0,0,1) 100%);

}